{% extends 'objects_base.html' %}
{% load i18n %}

{% block alert %}
{% if result %}
    {% if result.0 %}
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            {% trans "Производитель был успешно удален" %}
        </div>
    {% else %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            {% trans "Ошибка удаления. Производитель не был удален." %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block title %}{% trans "Список объектов модели Manufacturer:" %}{% endblock %}

{% block table %}
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Бренд" %}</th>
                    <th>{% trans "Страна" %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for manufacturer in all_manufacturers %}
                      <tr>
                        <td>{{ manufacturer.id }}</td>
                        <td><a href="?id={{ manufacturer.id }}">{{ manufacturer.brand }}</a></td>
                        <td>{{ manufacturer.country }}</td>
                      </tr>
                      {% endfor %}
                </tbody>
{% endblock table %}                

{% block search_form %}
                            <option value="brand">{% trans "Бренд" %}</option>
                            <option value="country">{% trans "Страна" %}</option>
{% endblock %}         

{% block search_form_size %}20{% endblock %}               

{% block sort_form %}
                            <option value="brand">{% trans "Бренд" %} &#8593;</option>
                            <option value="-brand">{% trans "Бренд" %} &#8595;</option>
                            <option value="country">{% trans "Страна" %} &#8593;</option>
                            <option value="-country">{% trans "Страна" %} &#8595;</option>
{% endblock %}