{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Страница объекта</title>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script  type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />     
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{% block title %}{% endblock %}</h3><br>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <dl>
                {% block description %}{% endblock %}
              </dl>
              <a href="{% block edit_link %}{% endblock %}"><button type="button" class="btn btn-info">Редактировать</button></a>
              <a href="{% block delete_link %}{% endblock %}"><button type="button" class="btn btn-danger">Удалить</button></a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>